.git
.github
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
build
dist
wheels
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
.coverage
coverage.xml
htmlcov/
junit.xml
tests/
docs/
*.log
.env
.env.*
!.env.template
.idea
.vscode
.DS_Store
